* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #3c4048;
  min-height: 100vh;
}

.navbar-collapse {
  justify-content: flex-end;
}

main.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}
